// Color Palette
$c-white: #ffffff;
$c-off-white: #D8D8D8;
$c-secondary-gray: #4F4F4F;
$c-dark-gray: #292929;
$c-black: #000000;
$c-dark-blue: #486472;
$c-light-blue: #607D8B;
$c-spotify-green: #1DB954;
$c-dark-green: #169141;
$c-orange: #DE6F30;

  
/* semantic color variables for this project */
$color-background: $c-dark-gray;

$section-gap: 160px;